### exclude all
*

### include some folders (recursive):
!src
!src/**

!docs

### include some file extentions:
!**.md
!**.in
!**.cmake
!**.uxf

### include specific files (root dir):
!.gitignore
!CMakeLists.txt
!class_diagram.png